
.embla {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 10px;
  position: relative;
}


@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}


@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.333%;
  }
}


.embla__dots {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.embla__dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.embla__dot--selected {
  background-color: #333;
  transform: scale(1.2);
}